.git
.github
.gitignore
.idea
.vscode
.venv
venv
__pycache__
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.local.backup
*.pem
*.key
.coverage
coverage.txt
htmlcov
.pytest_cache
.ruff_cache
celerybeat-schedule*
media
staticfiles
