STRIPE_API_KEY=
STRIPE_CURRENCY=rub
STRIPE_SUCCESS_URL=http://127.0.0.1:8000/api/docs/?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://127.0.0.1:8000/api/docs/

CELERY_BROKER_URL=redis://default:password@host:port
CELERY_RESULT_BACKEND=redis://default:password@host:port

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=LMS <no-reply@lms.local>
